/********************/
/* MAIN */
html, body {
    height: 100%;
    width: 100%;
    margin: auto 0;
    font-family: 'Roboto Condensed', sans-serif
}

/********************/
 /* Navigation bar */

 .zone-nav {
    line-height: 30px;
    background-color:white;
    filter: opacity(0.9);
    z-index: 1;
    width: 100%;
    position: fixed;
}

 .nav-bar{
    display: flex;
    list-style: none;
    font-size: 22px;
    margin: 0;
    gap: 30px;
    margin-left: 40px;
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
    text-transform:uppercase;
}

li {
    transition: all 0.2s;
    padding: 0px;
}

li:hover {
    transform: scale(1.1);
}

.push {
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.95em;
        padding: 0;
    }

}
 
/********************/
/* Cover */

.container {
    height: 100vh;
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-style: italic;
    letter-spacing: 3px;
    color:#FFF;
    transition: all 0.3s linear;
}

.bgimg{
    background: url(city.avif);
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .bgimg {
      background-attachment: initial;
    }  
  }
/********************/
/* Gallery/Projects */

h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 300%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    margin: 20px;
    transition: all 0.3s linear;
}

/********************/
/* FOOTER */

footer {
    text-align: center;
    color: black;
    padding: 4px;
    text-transform: uppercase;
}

/********************/
/* Hover Effect */

.hov-effect:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/********************/
/* Shadow */

.shadow {
    box-shadow: 4px 4px 5px #888888;
}